:root {
    --logo-font-family: "Raleway", sans-serif;
    --primary-font-family: "Roboto", sans-serif;
  
    --accent-color: #2196f3;
    --primary-color: #212121;
    --text-color: #757575;
    --primary-color-icon: #afb1b8;
  }